absl-py==0.11.0
ad3 @ file:///C:/Users/Jackson/Downloads/ad3-2.2.1-cp38-cp38-win_amd64.whl
aiodns==2.0.0
aiohttp==3.7.2
alabaster==0.7.12
appdirs==1.4.4
astroid==2.4.2
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.1.0
audioread==2.1.9
Babel==2.9.0
base58==2.0.1
base91==1.0.1
beautifulsoup4==4.9.3
black==20.8b1
bs4==0.0.1
cachetools==4.1.1
certifi==2020.12.5
cffi==1.14.2
chardet==3.0.4
ciphey==5.10.0
cipheycore==0.3.2
cipheydists==0.3.34
click==7.1.2
click-spinner==0.1.10
cloudscraper==1.2.46
codecov==2.1.9
colorama==0.4.4
commonmark==0.9.1
console==0.9904
coverage==5.3
cryptography==3.1
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
deep-daze==0.7.2
dill==0.3.3
discord.py==1.7.1
docutils==0.16
dparse==0.5.1
easygui==0.98.1
einops==0.3.0
ezenv==0.91
fake-useragent==0.1.11
fire==0.4.0
flake8==3.8.3
ftfy==5.9
future==0.18.2
gast==0.3.3
Gaugi==1.0.21
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
greenlet==0.4.17
grpcio==1.33.2
h5py==2.10.0
hashID==3.1.4
html5lib==1.1
idna==2.10
imagesize==1.2.0
inflect==5.0.2
iniconfig==1.1.1
inputs==0.5
isort==5.6.4
Jinja2==2.11.2
joblib==0.17.0
jsonpatch==1.26
jsonpointer==2.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
librosa==0.8.0
licensing==0.23
livestreamer==1.12.2
llvmlite==0.34.0
loguru==0.5.3
lxml==4.6.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
maxminddb==2.0.3
maxminddb-geolite2==2018.703
mccabe==0.6.1
mechanize==0.4.5
msgpack==1.0.0
multidict==5.0.0
multiprocess==0.70.11.1
mypy-extensions==0.4.3
neovim==0.3.1
nltk==3.5
numba==0.51.2
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.7
pandas==1.2.0
pathspec==0.8.1
pefile==2017.9.3
Pillow==8.0.1
playsound==1.2.2
pluggy==0.13.1
pooch==1.2.0
protobuf==3.14.0
proxybroker @ git+https://github.com/constverum/ProxyBroker.git@d21aae8575fc3a95493233ecfd2c7cf47b36b069
proxylist==0.1.4
proxyscrape==0.3.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybase62==0.4.3
pycares==3.1.1
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.2
pylint==2.6.0
pynput==1.7.3
pynvim==0.4.2
pyparsing==2.4.7
pypiwin32==223
pypresence==4.2.0
PyQt5==5.15.1
PyQt5-sip==12.8.1
PySocks==1.7.1
pytest==6.1.0
pytest-asyncio==0.14.0
pytest-cov==2.10.1
pytest-flake8==1.0.6
pytest-isort==1.2.0
pytest-mock==3.3.1
pytest-runner==5.2
python-dateutil==2.8.1
python-dotenv==0.17.0
pytorch-ranger==0.1.1
pytz==2020.4
pywin32==228
pyWinhook @ file:///C:/Users/Jackson/Downloads/pyWinhook-1.6.2-cp38-cp38-win_amd64.whl
PyYAML==5.3.1
pyzmq==20.0.0
regex==2020.11.13
requests==2.24.0
requests-futures==1.0.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resampy==0.2.2
rich==7.1.0
rsa==4.6
safety==1.9.0
saphyra==3.0.10
scikit-learn==0.23.2
scipy==1.5.4
scraper==0.1.0
selenium==3.141.0
siren-pytorch==0.0.9
six==1.15.0
sklearn==0.0
snowballstemmer==2.0.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
soupsieve==2.0.1
spark-parser==1.6.1
Sphinx==3.2.1
sphinx-autodoc-typehints==1.11.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
stem==1.8.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
tensorflow-gpu-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.8.0+cu111
torch-optimizer==0.1.0
torchaudio==0.8.0
torchfile==0.1.0
torchvision==0.9.0+cu111
tornado==6.1
torrequest==0.1.0
tqdm==4.54.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
umap-learn==0.4.6
uncompyle6==2.11.5
Unidecode==1.1.1
unpy2exe==0.3
urllib3==1.25.11
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
win10toast==0.9
win32-setctime==1.0.3
wrapt==1.12.1
xdis==3.5.5
yarl==1.6.2
yaspin==1.0.0
